BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 79
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
